<h1><%= @user.first_name %></h1>
<p><%= @user.last_name %></p>
<p>Email de l'auteur : <%= @user.email %></p>
<p>Son age : <%= @user.age %></p>
<p>Auteur : <%= @user.first_name %></p>
<p>Ville : <%= @user.city.name %></p>

<p>
  <a href="/gossips" style="background-color: #007bff; color: #fff; padding: 10px 20px; text-decoration: none; border: 2px solid #007bff; border-radius: 5px; font-weight: bold; text-align: center; display: inline-block; transition: background-color 0.3s ease, color 0.3s ease;">
  Retourner à la liste des gossips
</p>
