<%= form_for Gossip.new, url: gossips_path, class: "container mt-5" do |f| %>
  <div class="form-group">
    <%= f.label :title, 'Qui' %>
    <%= f.text_field :title, class: "form-control", placeholder: 'Entrez le nom de l\'auteur' %>
  </div>

  <div class="form-group">
    <%= f.label :content, 'Commentaire' %>
    <%= f.text_area :content, class: "form-control", placeholder: 'Saisissez votre commentaire' %>
  </div>

  <%= f.submit 'Nouveau gossip', class: "btn btn-primary" %>
<% end %>